/Innlevering4/nbproject/private/
/Innlevering4/build/
/Innlevering6/nbproject/private/
/Innlevering6/build/
/Innlevering1/nbproject/private/
/Innlevering5/nbproject/private/
/Innelvering7/build
/Eksamensoppgave2015/nbproject/private/
/Eksamensoppgave2012/nbproject/private/
/Innlevering 3/build/
/Eksamensoppgave2012/build/
/Eksamensoppgave2012/dist/
/QuickSort/nbproject/private/
/QuickSort/build/
/Innlevering5/build/
/Innlevering5/dist/